:root {
  --primary-color: rgb(44, 44, 185);
  --primary-color-inverse: aliceblue;
  --input-color: aliceblue;
  --input-color-focus: lightyellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  border-bottom: 4px solid rgb(0, 128, 0);
  padding: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.subtitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(0, 128, 0);
  border-top: 1px solid rgb(0, 128, 0);
  border-bottom: 1px solid rgb(0, 128, 0);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(0, 128, 0);
  border: 1px solid rgb(0, 128, 0);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 0px;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-right {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.container {
  padding-top: 4vh;
  height: 50%;
  font-weight: bold;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.container h1{
  padding-bottom: 4vh;
}

#personal-data-form {
  padding: 1em;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

#personal-data-form>input {
  width: 100%;
}

#personal-data-form>label {
  margin: .5em 0;
  width: 100%;
}

.form-submit {
  width: 100%;
  margin: .5em 0;
  text-align: right;
}

.form-submit>button {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;

  padding: .5em 1em;
  border-radius: 5px;

  background-color: var(--primary-color);
  color: var(--primary-color-inverse);
}

#personal-data-form span {
  color: lightcoral;
  visibility: hidden;
}

#personal-data-form input[type=text] {
  border-radius: 5px;
  border: 2px black solid;
  background-color: var(--input-color);
  padding: 1em;
}

#personal-data-form input[type=text]:focus {
  background-color: var(--input-color-focus);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 13px;
  }
  
  .item {
    width: 85%;
    border: 2px black solid;
    border-radius: 5px;
  }

  .footer{
    font-size: 10px;
  }

  .footer-right {
    padding-right: 0px;
    width: 340px;
  }
  
  .footer-left {
    width: 160px;
  }
  
  .footer-right a{
    width: 70px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .title {
    font-size: 26px;
  }

  .subtitle {
    font-size: 16px;
  }

  .item {
    width: 75%;
    border: 2px black solid;
    border-radius: 5px;
  }

  .footer{
    font-size: 13px;
  }

  .footer-right {
    padding-right: 0px;
    width: 370px;
  }
  
  .footer-left {
    width: 200px;
  }
  
  .footer-right a{
    width: 90px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 20px;
  }

  .item {
    width: 70%;
    border: 2px black solid;
    border-radius: 5px;
  }

  .footer{
    font-size: 20px;
  }

  .footer-right {
    gap: 20px;
    padding-right: 10px;
    width: 900px;
  }

  .footer-left {
    width: 320px;
  }
    
  .footer-right a{
    width: auto;
  }
}