body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.container {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 8vh;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 1em 2em;
}

.data-container {
  border: 2px solid black;
  border-radius: 5px;
  padding: 1em;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.data-item {
  margin-top: 1em;
}

.data-value {
  border-bottom: 1px solid black;
  padding: .5em;
  margin-bottom: 1em;
  background-color: var(--input-color);

  text-overflow: ellipsis;
  overflow: hidden;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  .data-container {
    width: 80vw;
  }

  .data-value {
    width: calc(80vw - 2em - 4px);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 24px;
  }

  .data-container {
    width: 75vw;
  }

  .data-value {
    width: calc(75vw - 2em - 4px);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 32px;
  }

  .data-container {
    width: 70vw;
  }

  .data-value {
    width: calc(70vw - 2em - 4px);
  }
}