body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.gallery-item img, .gallery-item .gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.image-default {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    border-bottom: 4px solid rgb(0, 128, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
}

.subtitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: rgb(0, 128, 0);
    border-top: 1px solid rgb(0, 128, 0);
    border-bottom: 1px solid rgb(0, 128, 0);
    display: flex;
    justify-content: center;
    padding: 5px;
}



.gallery-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding-top: 10px;
}

.gallery-item {
    position: relative;
    width: 14.5%;
    height: 14.5%;
    border: 6px solid black;
    border-radius: 16px;
    overflow: hidden;
}

.footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: rgb(0, 128, 0);
    border: 1px solid rgb(0, 128, 0);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-right {
    display: flex;
    gap: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .title {
        font-size: 10px;
    }

    .subtitle {
        font-size: 12px;
    }

    .gallery-container {
        padding-bottom: 100px;
    }
    
    .gallery-item {
        width: 45%;
        height: 45%;
    }

    .footer {
        font-size: 10px;
    }

    .footer-left {
        width: 160px;
    }

    .footer-right {
        gap: 12px;
        padding-right: 10px;
    }

    .footer-right a {
        width: 62px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .title {
        font-size: 12px;
    }

    .subtitle {
        font-size: 14px;
    }

    .gallery-container {
        padding-bottom: 85px;
    }
    
    .gallery-item {
        width: 29%;
        height: 29%;
    }

    .footer {
        font-size: 10px;
    }

    .footer-left {
        width: 160px;
    }

    .footer-right {
        gap: 15px;
        padding-right: 25px;
    }

    .footer-right a {
        width: 70px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .title {
        font-size: 14px;
    }

    .subtitle {
        font-size: 17px;
    }

    .gallery-container {
        padding-bottom: 80px;
    }
    
    .gallery-item {
        width: 22%;
        height: 22%;
    }

    .footer {
        font-size: 12px;
    }

    .footer-left {
        width: 38%;
    }

    .footer-right {
        gap: 20px;
        padding-right: 25px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .title {
        font-size: 32px;
        padding: 10px;
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    .subtitle {
        font-size: 20px;
    }

    .cr7-container {
        background-image: url(cr7-ucl.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding-top: 800px;
    }

    .timer-container {
        background-color: rgb(64,64,64);
        padding: 14px;
        display: flex;
        flex-flow: row;
        justify-content: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        color: white;
    }

    .gallery-container {
        background-color: rgb(220,220,220);
        padding-bottom: 40px;
    }
    
    .gallery-item {
        background-color: rgb(220,220,220);
        width: 14.5%;
        height: 14.5%;
    }

    .shop-container {
        background-color: rgb(220,220,220);
        padding: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        color: black;
    }

    .news {
        background-color: rgb(255,128,128);
        padding: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        color: black;
    }

    .news-img {
        width: 65%;
    }

    .news-container {
        background-color: rgb(255,128,128);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        color: black;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-bottom: 500px;
        gap: 20px;
    }

    .news-item {
        background-color: white;
        display: flex;
        flex-flow: row;
        width: 48%;
    }

    .news-title {
        font-weight: bold;
        font-size: 25px;
        color: rgb(128, 0, 0);
        padding-left: 4px;
    }
    
    .news-content {
        font-size: 18px;
        color: rgb(0, 0, 0);
        padding-top: 20px;
    }

    .footer {
        font-size: 14px;
    }

    .footer-left {
        width: 40%;
    }

    .footer-right {
        gap: 25px;
        padding-right: 25px;
    }
}