body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    border-bottom: 4px solid rgb(0, 128, 0);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    padding: 10px;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: rgb(0, 128, 0);
    border-top: 1px solid rgb(0, 128, 0);
    border-bottom: 1px solid rgb(0, 128, 0);
    display: flex;
    justify-content: center;
    padding: 10px;
}
.gallery-container {
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery-item {
    background-color: rgb(255, 255, 255);
    position: relative;
    border: 6px solid black;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease
}
.news {
    background-color: rgb(255, 128, 128);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.news-img {
    width: 65%;
}

.news-container {
    background-color: rgb(255, 128, 128);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.news-item {
    background-color: white;
    display: flex;
    flex-flow: row;
    width: 46vw;
    transition: transform 0.3s ease
}

.news-item:hover {
    transform: scale(1.06);
}

.news-title {
    font-weight: bold;
    font-size: 1.2vw;
    color: rgb(128, 0, 0);
    padding-left: 4px;
}

.news-content {
    font-size: 0.9vw;
    color: rgb(0, 0, 0);
    padding-top: 20px;
}

.comments {
    background-color: rgb(128, 255, 128);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.comments-container {
    background-color: rgb(128, 255, 128);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: black;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

.comments-container a{
    padding-top: 10px;
    padding-left: 20px;
}

.mb-3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 20px;
}

.mb-3 label{
    width: 320px;
}

:root {
    --primary-color: rgb(44, 44, 185);
    --primary-color-inverse: aliceblue;
    --input-color: aliceblue;
    --input-color-focus: lightyellow;
}

.form-submit {
    width: 100%;
    margin: .5em 0;
    text-align: left;
    padding-left: 20px;
}

.form-submit>button {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;

    padding: .5em 1em;
    border-radius: 5px;

    background-color: var(--primary-color);
    color: var(--primary-color-inverse);
}

#comment-message {
    width: 60%;
}

.comment-name {
    font-size: 1em;
    font-weight: bold;
}

.comment-message {
    font-size: 0.75em;
    color: rgb(64,64,64);
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: darkred;
}

.cr7-container {
    background-image: url(cr7-ucl.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 30%;
}

.timer-container {
    background-color: rgb(64, 64, 64);
    padding: 14px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
}

.gallery-container {
    background-color: rgb(220, 220, 220);
    gap: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 40px;
}

.shop-container {
    background-color: rgb(220, 220, 220);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
    font-weight: bold;
}

.gallery-item:hover {
    transform: scale(1.1);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .title {
      font-size: 20px;
    }
  
    .subtitle {
      font-size: 12px;
    }

    .timer-container{
        font-size: 12px;
    }

    .shop-container{
        font-size: 15px;
    }

    .gallery-item {
        width: 45%;
        height: 45%;
    }

    .news-item {
        width: 95vw;
    }

    .news-title {
        font-weight: bold;
        font-size: 2.5vw;
        color: rgb(128, 0, 0);
        padding-left: 4px;
    }
    
    .news-content {
        font-size: 2vw;
        color: rgb(0, 0, 0);
        padding-top: 20px;
    }

    .news-container {
        gap: 10px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .title {
      font-size: 26px;
    }
  
    .subtitle {
      font-size: 16px;
    }
  
    .timer-container{
        font-size: 15px;
    }

    .shop-container{
        font-size: 18px;
    }

    .gallery-item {
        width: 28%;
        height: 28%;
    }

    .news-container {
        gap: 20px;
    }
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {}
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .title {
        font-size: 32px;
    }

    .register {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 32px;
        color: inherit;
        text-decoration: none;
    }

    .subtitle {
        font-size: 20px;
    }

    .timer-container{
        font-size: 30px;
    }

    .shop-container{
        font-size: 30px;
    }

    .gallery-item {
        width: 14%;
        height: 14%;
    }

    .news-container {
        gap: 50px;
    }
}